@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

/* Estilos aplicados ao body para usar as variáveis */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Tema escuro manual */
body.theme-dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

/* Tema claro manual */
body.theme-light {
  --background: #ffffff;
  --foreground: #171717;
}
